<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${student.name}">Student</title>
	<!-- Do something useful with a students id -->
</head>
<body>
	<header>
		<h1 th:text="${student.name}">Student</h1><!-- Name -->
		<nav>
			<ul>
				<li><a href="/students">Students</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h3 th:text="${student.favoriteFood}">Favorite Food</h3><!-- favorite food -->
		<a th:href="|https://github.com/${student.githubUsername}|">GitHub</a><!-- GitHub Link -->
	</main>
	<footer>
		<small>&copy; WCCI 2018</small>
	</footer>
</body>
</html>