<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${title}"></title>
</head>
<body>
	<header>
		<h1 th:text="${title}"></h1>
		<nav>
			<ul>
				<li><a href="/students.html">Some Students</a></li>
				<li><a href="/max.html">Max</a></li>
				<li><a href="/kelli.html">Kelli</a></li>
				<li><a href="/thomas.html">Thomas</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<ul>
			<li><a href="/max.html">Max</a></li>
			<li><a href="/kelli.html">Kelli</a></li>
			<li><a href="/thomas.html">Thomas</a></li>
		</ul>
	</main>
	<footer>
		<small>&copy; WCCI 2018</small>
	</footer>
</body>
</html>